# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np
from scipy import stats
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp
from scipy.stats import ttest_rel
from scipy.stats import ttest_ind
import matplotlib.pyplot as plt
from scipy.stats import t, sem
from statsmodels.stats.proportion import proportions_ztest
from scipy.stats import chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:
pokemon_l=pokemon[(pokemon['Legendary']==True)]
pokemon_nl=pokemon[(pokemon['Legendary']==False)]
print('Legendary std     ', np.std(pokemon_l.Total), ' mean', np.mean(pokemon_l.Total))
print('Non Legendary std ', np.std(pokemon_nl.Total), 'mean', np.mean(pokemon_nl.Total))

Legendary std      60.46682302213781  mean 637.3846153846154
Non Legendary std  106.68776660321996 mean 417.21360544217686

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:
statistic,pvalue = stats.ttest_ind(pokemon_l.Total,pokemon_nl.Total)
pvalue

3.0952457469652825e-52

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
# Se puede rechazar hipotesis

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [7]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [8]:
# Your code here:

pokemon_t1=pokemon[(pokemon['Type 1']=='Water')]['Total']
pokemon_t2=pokemon[(pokemon['Type 1']!='Water')]['Total']

statistic,pvalue = stats.ttest_ind(pokemon_t1,pokemon_t2, equal_var = False)
pvalue

0.6433915385821449

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [9]:
# Your code here:


pokemon_t1=pokemon[(pokemon['Type 1']=='Water')]['Total']
stat_value = pd.DataFrame(columns=('Water vs tipo ?', 'statistic', 'pvalue'))
for tipo in set(pokemon['Type 1']):
    pokemon_t=pokemon[(pokemon['Type 1']==tipo)]['Total']
    statistic,pvalue = stats.ttest_ind(pokemon_t1,pokemon_t, equal_var = False)
    stat_value.loc[len(stat_value)]=[tipo,statistic,pvalue]
stat_value.sort_values(by=['pvalue'], ascending=[False])

   Water vs tipo ?  statistic    pvalue
16           Water   0.000000  1.000000
10             Ice  -0.122299  0.903369
17          Ground  -0.288993  0.773863
14           Ghost  -0.410159  0.683399
8            Fairy   0.542173  0.593610
6            Grass   0.559655  0.576532
4           Flying  -0.670035  0.549286
2         Fighting   0.624567  0.535580
1         Electric  -0.674880  0.501609
11            Dark  -0.684640  0.496774
15            Rock  -1.195350  0.235390
5             Fire  -1.484796  0.140672
7           Poison   1.529649  0.132484
0           Normal   1.815821  0.070873
9          Psychic  -2.136260  0.035236
12           Steel  -2.322117  0.025544
13             Bug   2.899769  0.004339
3           Dragon  -4.291278  0.000102

Write your conclusion below.

In [10]:
# Your conclusions here:

# no se rechaza H0 por que es mayor a 0.05

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [10]:
# Your code here:

pokemon_d=pokemon['Defense']
pokemon_a=pokemon['Attack']
stats.ttest_rel(pokemon_d,pokemon_a)

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [11]:
# Your conclusions here:
pokemon.head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [12]:
# Your code here:

pokemon_d=pokemon['Sp. Atk']
pokemon_a=pokemon['Sp. Def']
stats.ttest_rel(pokemon_d,pokemon_a)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

# No se puede rechazar H0

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [13]:
# Your code here:
    
stats.ttest_1samp(pokemon.Attack,pokemon.Defense.mean())

Ttest_1sampResult(statistic=4.4954813919438585, pvalue=7.967950832362132e-06)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [16]:
# Your code here:
pokemon.head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

In [17]:
# Your code here:
pokemon_l= pokemon['Legendary']==True
pokemon_a= pokemon['Type 1']=='Water'

crosstab = pd.crosstab(pokemon_l, pokemon_a)
crosstab

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

Based on a 95% confidence, should we reject the null hypothesis?

In [18]:
# Your answer here:
chi2_contingency(crosstab)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

In [ ]:
# No se rechaza H0